@model IEnumerable<CategoryViewModel>

<h3>Category List</h3>

@{
    var info = TempData["info"];
}

@if (info != null)
{
    if (Convert.ToBoolean(TempData["status"]))
    {
        <div class="alert alert-success" role="alert">@info</div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">@info</div>
    }
}

<table id="categoryTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <a href="/category/edit?id=@item.id" class="btn btn-success">Edit</a>
                        <a href="/category/delete?id=@item.id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this category?');">Delete</a>
                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">There are no categories available!</td>
            </tr>
        }
    </tbody>
</table>

<a href="/category/entry" class="btn btn-primary">Add New Category</a>

</table>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- DataTables CSS and JS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" />
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#categoryTable").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#categoryTable_wrapper .col-md-6:eq(0)');
    });
</script>