@model IEnumerable<SaleOrderViewModel>

<h3>Sale List</h3>

@{
    var info = TempData["info"];
}

@if (info != null)
{
    if (Convert.ToBoolean(TempData["status"]))
    {
        <div class="alert alert-success" role="alert">
            @info
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @info
        </div>
    }
}

<form id="filterForm" method="get">
    <div class="row mb-3">
        <div class="col-3">
            <div class="mb-3">
                <label class="form-label">From Date</label>
                <input type="date" class="form-control" name="fromDate" />
            </div>
        </div>

        <div class="col-3">
            <div class="mb-3">
                <label class="form-label">To Date</label>
                <input type="date" class="form-control" name="toDate" />
            </div>
        </div>

        <div class="col-3">
            <div class="mb-3">
                <label class="form-label">Voucher NO</label>
                <select class="form-select" id="saleDropdown" name="SaleOrderid">
                    <option value="" selected>Select an Voucher NO </option>
                    @if (ViewBag.sale != null)
                    {
                        foreach (var sales in ViewBag.Sale)
                        {
                            <option value="@sales.id">@sales.VoucherNo</option>
                        }
                    }
                    else
                    {
                        <option disabled>No Voucher NO available</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="mb-3">
                <label class="form-label">Customer</label>
                <select class="form-select" id="CustomerDropdown" name="Customerid">
                    <option value="" selected>Select a Customer</option>
                    @if (ViewBag.Customer != null)
                    {
                        foreach (var Customer in ViewBag.Customer)
                        {
                            <option value="@Customer.id">@Customer.Name</option>
                        }
                    }
                    else
                    {
                        <option disabled>No Customer available</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-3 d-flex align-items-end">
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="/sale/entry" class="btn btn-success">New sale</a>
            </div>



        </div>
    </div>
</form>

<table id="saleTable" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">sale Date</th>
            <th scope="col">Voucher NO</th>
            <th scope="col">Customer</th>
            <th scope="col">Sale Type</th>
            <th scope="col">Cash Amount</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            int i = 1;
           
            decimal cashAmountSum = 0;
            foreach (var item in Model)
            {
               
                cashAmountSum += item.CashAmount;
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.SaleDate.ToShortDateString() </td>
                    <td>@item.VoucherNo</td>
                    <td>@item.CustomerName</td>
                    <td>@item.SaleType</td>
                    <td>@item.CashAmount</td>
                    <td>
                        <a href="/sale/delete?id=@item.id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
                    </td>


                </tr>
                i++;
            }
            <tr>
                <td colspan="5" class="text-end fw-bold">Total</td>
               
                <td class="fw-bold">@cashAmountSum</td>
                <td></td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="8" class="text-center">There is no data available!</td>
            </tr>
        }
    </tbody>
</table>
